.App {
  text-align: center;
}

/* Header */
.header {
  background-color: #008080;
  padding: 1em;
}

.logo {
  color: white;
  font-family: 'Times New Roman', Times, serif;
  font-size: 48px;
  margin: 0;
}

/* Gallery */
.gallery {
  display: flex;
  padding: 10px;
}

.gallery-title {
  font-family: 'Times New Roman', Times, serif;
}
