.App {
  text-align: center;
}

/* Header */
.header {
  background-color: #008080;
  padding: 1em;
}

.logo {
  color: white;
  font-family: 'Times New Roman', Times, serif;
  font-size: 48px;
  margin: 0;
}

/* Gallery */
.gallery {
  padding: 10px;
  text-align: left;
}

.gallery-title {
  font-family: 'Times New Roman', Times, serif;
}

.paintings-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style-type: none;
}

/* Painting Image */
.painting-image {
  height: 200px;
  margin: 5px;
}
